@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap");

.about {
  gap: 80px;
  margin: 80px 170px;
}

#image {
  width: 300px;
  border-radius: 20px;
}
.about-title {
  position: relative;
}

.about h1 {
  padding: 0px 30px 40px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.about-sections {
  display: flex;
  gap: 40px;
}
/* .about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
} */

.about-para {
  margin: 50px 0px;
  font-size: 20px;
  text-align: justify;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.about-para p{
  padding-bottom: 30px;
  line-height: 20px;
}

.about hr{
  border: 0.5px solid white;
  width: 100%;
  margin: 20px;
}




@media(max-width:850px){
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }
  .about-para{
    padding: 0;
  }
  .about-sections{
    flex-direction: column;
  }
  #image{
    text-align: center;
  }
}