
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white; /* Text color */
  position: relative;
  top: 0; /* Sticks the navbar to the top */
  z-index: 1000; /*Keeps navbar above other elements*/

}



/* Navbar Container */

  /* Nav Menu Styling */
  .nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}
  
  /* Nav Item Styling */
  
  .nav-item a {
    text-decoration: none; /* Remove underline */
    color: white; /* Link color */
    font-size: 1rem;
    transition: color 0.3s ease; /* Smooth transition for hover */
  }
  
  .nav-item a:hover {
    color: #00c4cc; /* Light blue color on hover */
  }
  
  /* .menu-icon{
    display: none;
  } */
  .menu-icon{
    display: none;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    *{
      margin: 0;
      padding: 0;
    }

    .navbar{
      right: 0;
      top: 0;
    }
    

    .menu-icon {
      display: block; /* Initially hidden */
      position: fixed;
      right: 0px; /* Move it to the right */
      top: 10px; /* Adjust vertical position */
      font-size: 24px;
      cursor: pointer;
      color: white;
    }
    
    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background: #161513;;
      text-align: left;
      padding: 20px;
    }
    .nav-menu.active {
      display: flex;
    }
  
    .nav-item {
      margin-bottom: 15px;
    }
  }
  